---
layout: site-frame
---
<div class="site">
  <div class="title">
    {% include html/navigator %}
    {% include html/logo %}
  </div>
  
  <div style="background-image:url(http://us.blizzard.com/_images/games/wrath/wallpapers/wall1/wall1-1600x1200.jpg);padding:5px;width:150px;height:200px;border:1px solid black;">
<p>See the background image?</p>
</div>
  

  {% unless page.moved %}
    {{ content }}
  {% else %}
    Bu girdi <a href="http://{{ page.moved }}">başka bir adrese</a> 
    taşınmıştır.  Şimdi bu sayfaya yönlendirileceksiniz.
  {% endunless %}
  
  <div class="footer">
    {% include html/contact %}
    {% include html/google %}
    {% include html/feed %}
  </div>
</div>

{% include html/ribbon %}
{% include html/googleanalytics %}
